/* --- hTools2 docs --- */

a, p code, pre code { color: gray; }

a { text-decoration: none; }
a:hover { position: relative; top: +1px; left: +1px; }

pre { background-color: #EEE; padding: 1em; overflow: auto; }
code, pre { font-family: 'Menlo'; font-size: .85em; }

#nav {
    position: fixed;
    top: 1em;
    left: 3em;
    width: 30%;
}

#nav div {
    float: left;
    padding-right: 4em;
}

#nav h4 {
    margin: 2em 0 1em 0;
    font-size: .8em;
    }
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#nav li {
    font-family: 'Menlo', monospace;
    font-size: .8em;
    line-height: 1.4em;
    padding: 0;
}

#content {
    position: absolute;
    top: 0em;
    left: 35%;
    width: 55%;
}

h1, h2, h3, h4 { font-family: 'Menlo', monospace; }

#content h1 { color: red; }
#content h2 { color: blue; border-top: solid #AAA 1px; padding: 1em 0 0 0; margin-top: 2em; }
#content h3 { color: lime; }
#content h4 { color: orange; }
