/* --- xhtml --- */

body {
    background-color: #EEE;
}

a {
    text-decoration: none;
}

a:hover {
    position: relative;
    background-color: #DDD;
    top: +1px;
    left: +1px;
}

code, pre {
    font-family: 'Menlo';
}

h1, h2, h3, h4 {
    font-family: 'Menlo', monospace; line-height: 1.4em;
}

/* --- layout --- */

#content {
    position: absolute;
    top: 0em;
    left: 5em;
    width: 45%;
    padding-bottom: 10em;
}

#nav {
    position: fixed;
    top: 1em;
    left: 60%;
    width: 40%;
}

/* --- content --- */

#content table {
    width: 100%;
    border-collapse: collapse;
    background-color: #DDD;
}

#content td, #content th {
    font-family: 'Lucida Grande', sans-serif;
    font-size: .8em;
    color: #666;
    text-align: left;
    border-bottom: solid 2px #EEE;
    padding: 1em;
}

#content pre code {
    color: #666;
}

#content ::selection {
    background-color: #DDD;
    color: #666;
}

#content p,
#content li {
    font-family: 'Georgia', serif;
    line-height: 1.4em;
}

#content p > code,
#content p > a > code {
    font-size: .8em;
    padding: 0 .2em;
}

#content pre {
    background-color: #FFF;
    padding: 1em;
    white-space: pre-wrap;
    font-size: .8em;
    line-height: 1.8em;
    box-shadow: inset 0 0 6px 0 #CCC;
    border-radius: 5px;
}

#content h2 {
    color: #666;
    border-top: solid #AAA 1px;
    padding: 1em 0 0 0;
    margin-top: 2em;
}

#content h3 {
    color: #888;
    margin: 2em 0 1em;
    font-weight: normal;
    font-size: 1.2em;
}

#content h4 {
    color: #999;
    margin: 2em 0 0 0;
}

#content a {
    color: #333;
}

#content img {
    box-shadow: 5px 5px 10px 0 #CCC;
    margin: 1em 0;
}

/* --- navigation --- */

#nav div {
    float: left;
    padding-right: 6em;
}

#nav h4 {
    margin: 2em 0 1em 0;
    font-size: .8em;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav li {
    font-family: 'Menlo', monospace;
    font-size: .8em;
    line-height: 1.6em;
    padding: 0;
}

#nav a {
    color: #666;
}

#nav ::selection {
    background-color: transparent;
    color: #666;
}


/* --- syntax colors --- */

pre code,
pre .ruby .subst,
pre .tag .title,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title {
  color: black;
}

pre .string,
pre .title,
pre .constant,
pre .parent,
pre .tag .value,
pre .rules .value,
pre .rules .value .number,
pre .preprocessor,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .aggregate,
pre .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .addition,
pre .flow,
pre .stream,
pre .bash .variable,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .tex .special,
pre .erlang_repl .function_or_atom,
pre .markdown .header {
  color: #800;
}

pre .comment,
pre .annotation,
pre .template_comment,
pre .diff .header,
pre .chunk,
pre .markdown .blockquote {
  color: #888;
}

pre .number,
pre .date,
pre .regexp,
pre .literal,
pre .smalltalk .symbol,
pre .smalltalk .char,
pre .go .constant,
pre .change,
pre .markdown .bullet,
pre .markdown .link_url {
  color: #080;
}

pre .label,
pre .javadoc,
pre .ruby .string,
pre .decorator,
pre .filter .argument,
pre .localvars,
pre .array,
pre .attr_selector,
pre .important,
pre .pseudo,
pre .pi,
pre .doctype,
pre .deletion,
pre .envvar,
pre .shebang,
pre .apache .sqbracket,
pre .nginx .built_in,
pre .tex .formula,
pre .erlang_repl .reserved,
pre .input_number,
pre .markdown .link_label,
pre .vhdl .attribute,
pre .clojure .attribute {
  color: #88F
}

pre .keyword,
pre .id,
pre .phpdoc,
pre .title,
pre .built_in,
pre .aggregate,
pre .css .tag,
pre .javadoctag,
pre .phpdoc,
pre .yardoctag,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .go .typename,
pre .tex .command,
pre .markdown .strong,
pre .request,
pre .status {
  font-weight: bold;
}

pre .markdown .emphasis {
  font-style: italic;
}

pre .nginx .built_in {
  font-weight: normal;
}

pre .coffeescript .javascript,
pre .xml .css,
pre .xml .javascript,
pre .xml .vbscript,
pre .tex .formula {
  opacity: 0.5;
}
