/* @xhtml */

body {
	background-color: #FFF;
	font-family: Lucida Grande, Geneva, Arial, Verdana, sans-serif;
	font-size: 13px;
	line-height: 1.5em;	
	padding:  0;
	margin: 0;
}

em {
	font-family: Georgia, Times New Roman, serif;
	font-size: 1.1em;
}

em > code {
	font-style: normal;	
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
}

pre,
code {
	font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier';
	color: #666;
}

img {
	background-color: #EFEFEF;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1.5em;
	empty-cells: show;
	table-layout: auto;	
	margin: 0;
}

table td,
table th {
	color: #666;
	font-size: 11px;;
	line-height: 1.5em;
	border-bottom: solid 1px #DDD;
	padding: 1em;
	background-color: #EFEFEF;
	text-align: left;
	vertical-align: top;
}

table td {
	padding-right: 1.5em;
	line-height: 1.8em;
}

table tr:last-child td,
table tr:last-child th {
	border-bottom: 0;
}

table th {
	font-weight: bold;
}

pre {
	background-color: #EEE;	
	padding: 1em;
}

a,
a:active {
	text-decoration: none;
	color: #777;
}

a:hover {
	color: #999;
	text-decoration: none;
	position: relative;
	top: +1px;
	left: +1px;
}

::selection {
	color: #DDD;
}

/* @content */

#content {
	width: 39em;
	padding: 5em 4em 6em;
}

#content h1 {
	font-weight: normal;
	font-size: 2.4em;
}

#content h2 {
	padding-top: 6em;	
}

#content h3 {
	border-top: solid 1px #DDD;
	margin-bottom: 1em;
	padding-top: .8em;
	line-height: 1.6em;
}

#content h3:nth-child(n+2) {
	margin-top: 3em;
}

#content h3 code {
	background-color: none;
	font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier';
	padding-right: .2em;
	color: #999;
}

#content code {
	padding: .2em .4em;
	font-size: .9em;
}

#content p code,
#content li code {
	background-color: #EFEFEF;
}

#content .ttinfo tr td:first-child,
#content .ttinfo tr th:first-child {
	width: 10em;
}

#content .caption {
	font-size: 11px;
	margin-bottom: 2em;
	padding-left: .75em;
	color: #666;
}

#content .caption:before {
	color: #999;
	content: "↳";
	padding-right: .6em;
}

#content li {
	list-style: none;
	text-indent: -1.2em;
	padding-left: 1.2em;
	margin-bottom: .3em;
}

#content li:before {
	color: #999;
	content: "–";
	padding-right: .75em;
}

/* @toc */

#toc {
	position: fixed;
	top: 6em;
	left: 46em;
	width: 47em;
}

#toc h3 {
	border-top: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
}

#toc ul + ul {
	margin: 0 0 .6em 0;
}

#toc ul li {
	display: inline;
	list-style-type: none;
}

/* @table */

table.index {
	width: 71em;
	margin-top: 6em;
}

#content h1 + pre {
	margin-top: 7.6em;
	padding: 1em 3em 3em;
	line-height: 1.8em;
}

table.index td,
table.index th {
	padding: .5em 2em;
	line-height: 1.3em;
}

table.index tr:hover td {
	background-color: #E6E6E6;
}

/* @navigation */

#nav {
	width: 100%;
	height: 3.4em;
	background-color: #EFEFEF;	
	position: fixed;
	padding: 0 4em ;
	-moz-box-shadow: 		0 0 8px 0 #999;
	-webkit-box-shadow: 	0 0 8px 0 #999;
	box-shadow: 			0 0 8px 0 #999;
}

#nav ul {
	margin-top: .9em;
}

#nav ul li {
	display: inline;	
	font-size: 11px;
	margin-right: 1.6em;
	font-weight: bold;
}

/* @links */

#toc a,
#toc .glossary li,
#content table td a,
#content pre > code > a,
#content .tt_comment {
	font-size: 11px;
	font-weight: bold;
	font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier';
	white-space: nowrap;
	padding: .1em .4em;
	margin: 0;
	color: #999;
}

/* instructions */

#toc .tt_is a,
#content table td .tt_is,
#content pre .tt_is {
	color: white;
	background-color: Coral;
}

#content .tt_is h3 {
	color: Coral;
}

/* graphics state */

#toc .tt_gs a,
#content table td .tt_gs,
#content pre .tt_gs {
	color: white;
	background-color: DarkTurquoise;
}

#content .tt_gs h3 {
	color: DarkTurquoise;
}

/* font engine */

#toc .tt_fe a,
#content table td .tt_fe,
#content pre .tt_fe {
	color: white;
	background-color: CornflowerBlue;
}

#content .tt_fe h3 {
	color: CornflowerBlue;
}

/* robohint freenames */

#toc .tt_rh a,
#content table td .tt_rh,
#content pre .tt_rh {
	color: Coral;
	background-color: white;
}

/* control value table */

#toc .tt_cvt a,
#content table td .tt_cvt,
#content pre .tt_cvt {
	color: white;
	background-color: MediumOrchid;
}

#content .tt_cvt h3 {
	color: MediumOrchid;
}

/* other */

#toc a:hover,
#content table td a:hover {
	background-color: #AAA;
	color: #FFF;
}

#content pre > code > a {
	color: CornflowerBlue;
	background-color: white;	
}

#toc .glossary li {
	color: white;
	background-color: LightGrey;
}

/*#content .tt_comment {
	color: white;
	background-color: LightGrey;
}*/

/* @robohint */

#robohint-syntax table tr td:nth-of-type(1) { width: 24em; }
#robohint-syntax table tr td:nth-of-type(2) { width: 16em; }

/* @cvts */

#cvt-values tr td:nth-of-type(1),
#cvt-values tr td:nth-of-type(2),
#cvt-values tr td:nth-of-type(3) {
	font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier'; 	
}

#cvt-values > td, #cvt-values > th  {
	width: 1em;
	padding: 0;
	line-height: .6em;
}
